{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<header class="d-flex justify-content-center align-items-center pb-3">
		<img class="banner banner-head" src="{{ asset('build/images/banner.png') }}" alt="sièges gaming">
		<h1 class="text-center">Sièges gaming série 2021</h1>
	</header>

	<h2 class="text-center text-light pt-3 my-3">Les avis des nouveautés :</h2>

	<div>
		<img class="banner wave pt-lg-5" src="{{ asset('build/images/background.png') }}" alt="background geometric">
		<img class="banner relat pt-lg-5" src="{{ asset('build/images/chair.png') }}" alt="background view explod">
		<h2 class="text-center">Technologies de pointe.<br>Développement sans relâche.</h2>
		<a class="text-center" href="{{ path('techno') }}">En savoir plus Technologie</a>
	</div>
{% endblock %}
