{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('seat') }}
{% endblock %}

{% block body %}
	<header class="d-flex justify-content-center align-items-center">
		<img class="banner banner-head" src="{{ asset('build/images/banner.png') }}" alt="sièges gaming">
		<h1 class="text-center">Sièges gaming série 2021</h1>
	</header>

    <div class="container-fluid">
        <h2 class="text-center text-light pt-3 my-5">Les avis des nouveautés :</h2>
        <div class="row">
	        {% for seat in seats %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{{ path('seat_show', {'id': seat.id}) }}">
	    	        <div class="card">
                    	<div class="card-body d-flex justify-content-center">
			                <img class="card-img-top" src="{{ vich_uploader_asset(seat) }}" alt="Card image cap">
				            <h3 class="card-title text-center">{{ seat.name }}</h5>
			            </div>
			            <ul class="list-group list-group-flush">
				            <li class="list-group-item">Dimension: {{ seat.size }}</li>
				            <li class="list-group-item">Poids max:{{ seat.weight }}Kg</li>
				            <li class="list-group-item">Densité de la mousse: {{ seat.density }}Kg/m3</li>
				            <li class="list-group-item">Prix: {{ seat.price }}€</li>
			            </ul>
			            <div class="card-body">
				            <p class="card-description text-dark">{{ seat.description }}</p>
			            </div>
                    </div>
                </a>
		    </div>
	        {% else %}
		        Pas de résultat à la recherche
	        {% endfor %}
        </div>
    </div>

	<h2 class="text-center mt-5">Technologies de pointe.<br>Développement sans relâche.</h2>
	<a class="text-center" href="{{ path('techno') }}">En savoir plus Technologie</a>
	<div>
		<img class="banner wave pt-lg-5" src="{{ asset('build/images/background.png') }}" alt="background geometric">
		<img class="banner relat pt-lg-5" src="{{ asset('build/images/chair.png') }}" alt="background view explod">
	</div>
{% endblock %}
