{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajouter un siège
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seat') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-dark text-center mt-5">Ajouter un siège</h2>
        <div class="container">
			{{ form_start(form) }}

			{{ form_row(form.name) }}
			{{ form_row(form.size) }}
            {{ form_row(form.weight) }}
            {{ form_row(form.density) }}
			{{ form_row(form.price) }}
            {{ form_row(form.description) }}
			{{ form_row(form.imageFile) }}

			{{ form_row(form.description) }}

			<button class="btn btn-success mt-5">Déposer mon offer</button>
			{{ form_end(form) }}
		</div>
    </div>
{% endblock %}
