{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| La sélection
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('seat') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="mt-5">La Sélection</h2>
        <div class="row">
	        {% for seat in seats %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{{ path('seat_show', {'id': seat.id}) }}">
	    	        <div class="card">
                    	<div class="card-body d-flex justify-content-center">
			                <img class="card-img-top" src="{{ seat.image }}" alt="Card image cap">
				            <h3 class="card-title text-center">{{ seat.name }}</h5>
			            </div>
			            <ul class="list-group list-group-flush">
				            <li class="list-group-item">Dimension: {{ seat.size }}</li>
				            <li class="list-group-item">Poids max:{{ seat.weight }}Kg</li>
				            <li class="list-group-item">Densité de la mousse: {{ seat.density }}Kg/m3</li>
				            <li class="list-group-item">Prix: {{ seat.price }}€</li>
			            </ul>
			            <div class="card-body">
				            <p class="card-description text-dark">{{ seat.description }}</p>
			            </div>
                    </div>
                </a>
		    </div>
	        {% else %}
		        Pas de résultat à la recherche
	        {% endfor %}
        </div>
    </div>
{% endblock %}
