{% extends 'base.html.twig' %}

{% block title %}Seat index{% endblock %}

{% block body %}
    <h1>Seat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Density</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seat in seats %}
            <tr>
                <td>{{ seat.id }}</td>
                <td>{{ seat.name }}</td>
                <td>{{ seat.size }}</td>
                <td>{{ seat.price }}</td>
                <td>{{ seat.weight }}</td>
                <td>{{ seat.density }}</td>
                <td>{{ seat.description }}</td>
                <td>{{ seat.image }}</td>
                <td>
                    <a href="{{ path('seat_show', {'id': seat.id}) }}">show</a>
                    <a href="{{ path('seat_edit', {'id': seat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seat_new') }}">Create new</a>
{% endblock %}
