
{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
	{{ parent() }}
	| Détail du siège
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ seat.name }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ seat.size }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ seat.price }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ seat.weight }}</td>
            </tr>
            <tr>
                <th>Density</th>
                <td>{{ seat.density }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ seat.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="card-img-top" src="{{ vich_uploader_asset(seat) }}" alt="Card image cap"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offer') }}">back to list</a>
{% endblock %}
